<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <% if(successMsg){ %>
                <div class="alert alert-success"><%= successMsg %></div>
            <% } %>
            <% if(errorMsg){ %>
                <div class="alert alert-danger"><%= errorMsg %></div>
            <% } %>